.blurb_box2 {
	background-color: #323232;
	color: white;
	border-radius: 15px;
	display: block;
	margin: 3px;
	text-align: left;
	padding: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blurb_box2:hover {
	background-color: #565656;
	color: white;
}

.scrambler_central_box {
	background-color: #222222;
	color: white;
	border-radius: 15px;
	display: block;
	margin: 20px;
	align-items: center;
	padding: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.required:after {
	content:" *";
	color: red;
}

input[type=text],
input[type=password],
input[type=number] {
	padding: 3px;
	border: 1px solid;
	border-radius: 5px;
	background-color: #f0ede6;
	box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}

input[type=text],
input[type=password] {
	font: 1rem Inconsolata, monospace;
}

input:required:focus {
  border: 1px dashed red;
  outline: none;
}

input:required:hover {
	border: 1px solid red;
}

td {
	padding:5px;
}

.showpwd {
	padding: 0px;
}

.copy_status {
	color: #e9967b;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

table{
	width:100%;
	padding: 5px;
}

.label_field {
	text-align: right;
	width: 15%;
}

.longpass_field {
	width: 93%;
}
